/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.photo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.photo {
    width: 300px;
    /* ← tu peux changer cette valeur (200, 250, 300 etc.) */
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}