/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Style pour la photo */
.photo {
    width: 180px;
    /* Ajuste la taille */
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid #000;
    /* Bordure (optionnel) */
}

.photo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 3px solid #000;
}