/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.photo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    /* Important */
    margin: 0 auto;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Remplit le cadre */
}